<!-- <p style="color: white">userinput:</p> -->
<div>
    <span>
    <input class=inputBox id=show-hide #box (keyup.enter)="checkEntry1(box.value)" maxlength="5" style="text-transform:uppercase;">
    </span>

    <div style="display: flex; justify-content: center;">
        <span id="ch1" style="color: white;">{{this.charArr1[0]}}</span>
        <span id="ch2" style="color: white;">{{this.charArr1[1]}}</span>
        <span id="ch3" style="color: white;">{{this.charArr1[2]}}</span>
        <span id="ch4" style="color: white;">{{this.charArr1[3]}}</span>
        <span id="ch5" style="color: white;">{{this.charArr1[4]}}</span>
    </div>
    

    <div id=hidden style="display:none">
        <input #box2 (keyup.enter)="checkEntry2(box2.value)" maxlength="5" style="text-transform:uppercase; text-align: center;">
<!--    <p style="color: white">box 2: {{this.valueArr[1]}}</p> -->
    </div>

</div>

<!-- <p style="color: white">{{charArr}}</p>    -->
